@import "../../../style/palette.scss";
@import "../../../style/general-styling.scss";

.weatherBannerCard{
    img{
        height: 27.5rem;
    }
    &.card-img-overlay, img{
        border-radius: $standardRadius;
    }
    &.card{
        border-radius: $standardRadius;
    }
    .card-img-overlay{
        padding: 6.5rem 7rem;
    }

    .card-title, .card-text{
        margin-bottom: 10px;
    }
    
    .card-title{
        font-size: 2rem;
        font-weight: 600;
    }

    .card-text{
        font-size: 1.25;
        font-weight: 500;
        &.weatherStatus{
            font-weight: 300;
        }
    }

    color: $dark-blue;
}
