@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "./palette.scss";

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: $main-background !important;
}

.cardSectionTitle{
  font-size: 1.75rem;
  font-weight: 600;
  color: rgb(1, 23, 95);
  padding: 1.2rem 2rem;
}

