@import "../../../style/palette.scss";
@import "../../../style//general-styling.scss";

.pillarCard{
    width: fit-content;
    max-width: 8rem;
    background: linear-gradient($light-blue, $azure);
    border-radius: $standardRadius;
    padding: .6rem 1rem;
    color: white;

    &.sided{
        position: absolute;
        border-radius: 0 $standardRadius $standardRadius 0;
    }

    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .weekDay{
            font-size: 1.37rem;
            font-weight: 600;
        }

        .weekDay + .degrees{
            font-size: 2.62rem;
        }

        .degrees{
            font-size: 3.12rem;
            font-weight: bold;
        }
    }
}